<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FilterTuts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>CartGetService</servlet-name>
  	<servlet-class>com.vedant_servelets.products.CartGetService</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>CartGetService</servlet-name>
  <url-pattern>/orders</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CartPOSTService</servlet-name>
  	<servlet-class>com.vedant_servelets.products.CartPostServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>CartPOSTService</servlet-name>
  <url-pattern>/addcart</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>products</servlet-name>
  	<servlet-class>com.vedant_servelets.products.Products</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>products</servlet-name>
  <url-pattern>/products</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<servlet-class>com.vedant_servelets.AuthenticationAndAutheriztion.SignUp</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>SignUp</servlet-name>
  <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>OrderFilter</filter-name>
  	<filter-class>com.vedant_servelets.filters.MyFilter</filter-class>
  </filter>
  
  <filter>
  	<filter-name>CartPostFilter</filter-name>
  	<filter-class>com.vedant_servelets.filters.CartPostFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CartPostFilter</filter-name>
  	<url-pattern>/addcart</url-pattern>
  	</filter-mapping>
  
  <filter-mapping>
  	<filter-name>OrderFilter</filter-name>
  	<url-pattern>/orders</url-pattern>
  	<url-pattern>/products</url-pattern>
  	
  </filter-mapping>
</web-app>